@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Fuzzy+Bubbles:wght@400;700&family=Monoton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.imageContainer {
  background-image: url("../../assets/sign-up-form-background.jpg");
  background-position: center;
  height: 100%;
  width: 35%;
}

.logoContainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 20%;
  gap: 1rem;
}

.logo {
  height: auto;
  width: 10%;
}

.odinName {
  color: #e5d9f2;
  height: 100%;
  font-family: "Monoton", cursive;
  font-size: 3rem;
}

@media screen and (max-width: 480px) {
  .logoContainer {
    flex-direction: column;
  }
  .logo {
    width: 20%;
  }
  .odinName {
    color: #f5efff;
    font-size: 1.45rem;
  }
}
