.app,
.logoContainer {
  display: flex;
  flex-flow: row wrap;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  color: #000000;
}

.rightContainer {
  width: 65%;
  display: flex;
  flex-flow: column;
}

.inputContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: baseline;
  padding-inline: 1rem;
  width: 49%;
}

@media screen and (max-width: 785px) {
  .inputContainer {
    width: 100%;
  }
}
