@import url("https://fonts.googleapis.com/css?family=Space+Grotesk:400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
  width: 100%;
  text-align: center;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  background: #f5efff;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  height: 100%;
  width: 100%;

  /* background-color: #596d48;
  background-color: #5e7eb5; */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  color: #7371fc;
  font-weight: 900;
  text-decoration: none;
}

input {
  background-color: #f5efff;
  border: transparent;
  outline: transparent;
  border-radius: 2.5px;
  line-height: 2;
  width: 100%;
  padding: 0.3rem;
  border-bottom: #a594f9 1px solid;
}
input:focus {
  background-color: #e6efe9;
  border-bottom: #a594f9 2px solid;
  transition: ease-in-out;
}
/* TODO: fuse css with zod */
input:invalid {
  color: orangered;
}
span {
  color: #dd1c1a;
  font-style: italic;
}
span {
  color: #dd1c1a;
  font-style: italic;
}
a {
  text-decoration: none;
  color: #7371fc;
}

small,
.textSmall {
  font-size: 0.8rem;
}
/* FIXME validation error modal for small screens  */
@media screen and (max-width: 480px) {
  * {
    font-size: 0.7rem;
  }
  .textSmall {
    font-size: 0.5rem;
  }
  span {
    font-size: 0.3rem;
  }
}
